
.theme.light{
  --minor-bg-color: #eaeaea;
  --panel-bg-color: #ffffff;
  --input-bg-color: #e2e2e2;
  --text-color: #000000;
  --active-fill-color: #3e3e3e;
  --shadow-color: rgb(0 0 0 / 10%);
  --scrollbar-color: rgb(0 0 0 / 10%);
  --button-border-color: rgb(0 0 0 / 2%);
  --button-hover-color: rgb(0 0 0 / 4%);
}
.theme.dark{
  --minor-bg-color: #151515;
  --panel-bg-color: #313131;
  --input-bg-color: #2c2c2c;
  --text-color: #fff;
  --active-fill-color: #fff;
  --shadow-color: rgb(0 0 0 / 31%);
  --scrollbar-color: rgb(255 255 255 / 10%);
  --button-border-color: rgb(255 255 255 / 2%);
  --button-hover-color: rgb(255 255 255 / 4%);
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255 255 255 / 5%) rgb(255 255 255 / 24%);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--minor-bg-color);
  color: var(--text-color);
}

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--minor-bg-color);
  
}
.center {
  background-color: var(--panel-bg-color);
  color: var(--text-color);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scaffold{
  display: grid;
  grid-template-rows: min-content 1fr;
}
.scaffold .header{
  padding: 1em;
  background-color: var(--panel-bg-color);
  padding: 1em;
  background-color: var(--panel-bg-color);
  box-shadow: 0px 4px 10px var(--shadow-color);
  z-index: 1;
}
.scaffold .header .column{
  display: flex;
  flex-direction: column;
}
.scaffold .body{
  padding: 1em;
  overflow: auto;
}
.title{
  font-size: 1.4em;
}

.body-section{
  border-radius: 2px;
  padding: 2em;
  background-color: var(--panel-bg-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.label{
  opacity: 0.5;
  font-size: 0.8em;
  margin-bottom: 6px;
}
.error{
  opacity: 0.8;
  border-radius: 4px;
  padding: 0.5em;
  color: #ff5179;
  background-color: rgb(255 81 121 / 10%);
  /* border: 2px #ff5179 solid; */
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  outline: 0;
  padding: 0.8em;
  color: var(--text-color);
  border: 0;
  background-color: var(--input-bg-color);
}

.button{
  padding: 1em;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  border-bottom: 2px solid var(--button-border-color);
  margin-bottom: 4px;
}
.button.small{
  padding: 0.7em;
  font-size: 0.9em;
}
.button:hover{
  background-color: var(--button-hover-color);
}
.button:active{
  opacity: 0.6;
}
.space{
  height: 6px;
}


.people-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.person-item {
  display: grid;
  margin-bottom: 8px;
  padding: 0.5em;
  background-color: var(--panel-bg-color);
  align-items: center;
  flex-direction: row;
  grid-template-columns: max-content 1fr 60px;
  border-radius: 3px; 
}
.person-item.inactive{
  opacity: 0.5;
}
.person-item .avatar {
  width: 48px;
  height: 48px;
}
.person-item .avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.person-item .info {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.person-item .info .name{
  opacity: 1.0;
  font-size: 1.1em;
  word-break: break-word;
}
.person-item .info .link{
  margin-left: 10px;
  opacity: 0.5;

  border-radius: 4px;
  padding: 0.2em;
  color: #ff5179;
  background-color: rgb(255 81 121 / 20%);
  /* border: 2px #ff5179 solid; */
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
}


.document {
  display: grid;
  margin-bottom: 8px;
  padding: 0.5em;
  background-color: transparent;
  align-items: center;
  flex-direction: row;
  grid-template-columns: 1fr 60px;
  border-radius: 3px; 
}
.document:hover{
  background-color: var(--panel-bg-color);
}
.document .link{
  display: flex;
  align-items: center;
  height: 100%;
}
.document .info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.document .info .title{
  opacity: 1.0;
  font-size: 1.0em;
  word-break: break-word;
}
.document .info .description{
  opacity: 0.7;
  font-size: 0.75em;
  word-break: break-word;
  margin-top: 4px;
}
.documents-container{
  background-color: rgb(0 0 0 / 4%);
  padding: 1em;
  margin-top: 10px;
}
.documents-container.invisible{
  display: none;
}


a {
  color: var(--text-color);
  text-decoration: none;
}

.check-button {
  width: 48px;
  height: 48px;
  float: right;
  text-align: center;
  padding: 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  background-color: var(--active-fill-color);
  border: 3px solid var(--active-fill-color);
}
.check-button:hover {
  background-color: var(--active-fill-color);
}
.check-button.inactive{
  /* border: 3px solid rgb(255 255 255 / 9%); */
  opacity: 0.09;
  background-color: transparent;
}

.edit-button{
  padding: 0em;
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
}

.floating-screen{
  transition: height 0.05s, box-shadow 0.2s;
  transition-timing-function: ease;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--panel-bg-color);
  height: 80%;
  box-shadow: 0 -20px 0px 400px rgb(0 0 0 / 74%);
}
.floating-screen.hidden{
  position: fixed;
  height: 0;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 0%);
}
.clipboard-panel textarea{
  margin: 1em;
  height: 100%;
  font-size: 1.5em;
  background-color: var(--input-bg-color);
  outline: 0;
  border: 0;
  color: var(--text-color);
  padding: 1.5em;
}

.editor{
  display: flex;
  flex-direction: column;
  padding: 2em;
  overflow: auto;
}

.person-editor .avatar{
  width: 80px;
  height: 80px;
}
.person-editor .avatar img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.editor .bottom-buttons{
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* desktop */
@media only screen and (min-width: 768px) {
  .scaffold {
    max-width: 610px;
  }
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .floating-screen {
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 21%);
    max-width: 610px;
  }
}
